<body>
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Cambria;
  padding: 20px;
  background-image: url(az.jpg);
}

/* encabezado/titulo*/
.header {
  padding: 50px;
  text-align: center;
  background-image: url(yy.jpg);
}

.header h1 {
  font-size: 50px;
}

/* estilo de barra superior */
.topnav {
  overflow: hidden ;
  background-color: white ;
}


/* estilos a los enlaces */
.topnav a {
  float: left;
  display: block;
  color: #050404 ;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

/* Cambiar el color al pasar el mouse */
.topnav a:hover {
  background-color: #F7A31A ;
  color: #F1DF30;
}

/* Crear columnas desiguales que flotan al lado de otra */
/* columna izquiera */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* columna derecha */
.rightcolumn {
  float: left;
  width: 25%;
  background-image: url(az.jpg);
  padding-left: 20px;
}

/* imagen falsa */
.fakeimg {
  background-color: white ;
  width: 100%;
  padding: 20px;
}

/* agregar un efecto de carta para los articulos */
.card {
  background-color: #D1F494 ;  
  padding: 20px;
  margin-top: 20px;
}

/* limpiar flotdores despues de la columna */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* pie de pagina */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* cuando la pantalla tiene menos de 800 px de ancho, diseño receptivo */
@media screen and (max-height: 500px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* cuando la pantalla tiene menos de 400 px de ancho */
@media screen and (max-height: 300px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
</style>
</head>
